* {
  box-sizing: border-box;
}

body {
  background-color: #F5F7FB;
  color: #293264;
  margin: 0;
  padding: 20px;
}

/*start page*/
.main {
  position: relative;
}

.main--img1 {
  position: fixed;
  top: 0;
  right: 0;
}

.main--img2 {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;

  width: 600px;
}

.content--title {
  font-family: 'Karla', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 31.25px;
  line-height: 37px;
}

.content--text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.content--btn {
  width: 193px;
  height: 52px;
  background: #4D5B9E;
  border: none;
  border-radius: 15px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #F5F7FB;
  cursor: pointer;
}



.block {
  text-align: left;
}

.block > p {
  margin-top: 15px;
  margin-bottom: 12px;
}

.block--question {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.block--answer {
  display: flex;
  flex-direction: row;
  gap: 13px;
  margin-bottom: 16px;
}

hr {
  height: 0px;
  border: 0.794239px solid #DBDEF0;
}

.submit {
  display: flex;
  flex-direction: row;

  justify-content: space-around;
  align-items: center;
  padding-left: 100px;
  padding-right: 10px;
}

.submit--text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 12.8px;
  line-height: 15px;
  text-align: center;
  color: #293264;
  padding: 0;
}

.submit--btn {
  width: 120px;
  height: 35px;
  background: #4D5B9E;
  border-radius: 10px;
  border: none;
  margin-top: 5px;
  cursor: pointer;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 10.24px;
  line-height: 12px;
  text-align: center;
  color: #F5F7FB;
}





.button {
  margin: 0 5px 0 0;
  min-width: 72px;
  max-height: 20px;
  position: relative;
  padding: 4px;
}

.button label,
.button input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.button input[type="radio"] {
  opacity: 0.011;
  z-index: 100;
  cursor: pointer;
}

.button input[type="radio"]:checked + label {
  background: #D6DBF5;
  border-radius: 7.94239px;
}

.button > label {
  display: block;
  position: relative;
  width: 100%;
  max-height: 20px;
  z-index: 90;
  line-height: 1.8em;

  padding: 4px;
  border: 0.794239px solid #4D5B9E;
  border-radius: 7.94239px;
  background-color: #F5F7FB;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 10.24px;
  line-height: 12px;
  text-align: center;
  color: #293264;
}

.answer {
  display: block;
  position: relative;
  max-height: 20px;
  line-height: 1.8em;

  padding: 4px;
  border: 0.794239px solid #8a8ebe;
  border-radius: 7.94239px;
  background-color: #F5F7FB;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 10.24px;
  line-height: 12px;
  text-align: center;
  color: #8a8ebe;
}

.correct_answer {
  display: block;
  position: relative;
  max-height: 20px;
  line-height: 1.8em;

  padding: 4px;
  border: 0.794239px solid #94D7A2;
  border-radius: 7.94239px;
  background-color: #94D7A2;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 10.24px;
  line-height: 12px;
  text-align: center;
  color: #293264;
}

.wrong_answer {
  display: block;
  position: relative;
  max-height: 20px;
  line-height: 1.8em;
  
  padding: 4px;
  border: 0.794239px solid #F8BCBC;
  border-radius: 7.94239px;
  background-color: #F8BCBC;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 10.24px;
  line-height: 12px;
  text-align: center;
  color: #8a8ebe;
}

