* {
  box-sizing: border-box;
}

body {
  background-color: #F5F7FB;
  color: #293264;
  margin: 0;
  padding: 20px;
}

/*start page*/
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  position: relative;
}

.main--img1 {
  position: fixed;
  top: 0;
  right: 0;
}

.main--img2 {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.panel {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  width: 100%;
}

.content-scrollable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  margin-bottom: 20px;
  overflow-y: auto;
  width: 100%;
}

.content-scrollable::-webkit-scrollbar {
  width: 12px;
}

/* Background of the scrollbar */
.content-scrollable::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
  border-radius: 10px; /* Rounded track */
}

/* Color and style of the draggable part of the scrollbar */
.content-scrollable::-webkit-scrollbar-thumb {
  background: #888; /* Thumb color */
  border-radius: 10px; /* Rounded thumb */
}

/* Change the color of the thumb on hover */
.content-scrollable::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker thumb color on hover */
}
